= form_for :login, url: login_create_path do |f|
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.submit 'Sign in'
  or
  = link_to 'Sign up', new_user_path
