<h1>Hi <%= @user.f_name %></h1>

<h1>*Profile info</h1>
<h3>First Name: <%= @user.f_name %></h3>
<h3>Last Name: <%= @user.l_name %></h3>
<h3>Location: <%= @user.location %></h3>
<h3>Year of Birth: <%= @user.year_of_birth %></h3>
<h3>Gender: <%= @user.gender %></h3>
<h3>Profile Picture: *<%= @user.profile_picture %>*</h3>

<h1>*My posts</h1>
<% @posts_me.each do |post|  %>
  <h3><%= post.content %></h3>
<% end %>

<h1>*Posts by others to me</h1>
<% @posts_others.each do |post| %>
  <h3>
    <%= post.content %>
    by
    <%= User.where(id: post.user_sender_id).first.f_name %>
  </h3>
  <% @result.each do |result| %>
    <% if result["post_id"] == post.id %>
      <h5> --> <%= Comment.where(id: result["comment_id"]).first.content %></h5>
    <% end %>
  <% end %>
<% end %>

<h1>*Friends</h1>
<% @friends.each do |friend| %>
  <h3><%= link_to User.where(id: friend.user_request_receiver_id).first.f_name, user_show_path(User.where(id: friend.user_request_receiver_id).first.id) %></h3>
<% end %>
<% @friends2.each do |friend| %>
  <h3><%= link_to User.where(id: friend.user_request_sender_id).first.f_name, user_show_path(User.where(id: friend.user_request_sender_id).first.id) %></h3>
<% end %>

<h1>*Requests coming</h1>
<% @requests.each do |request| %>
  <h3><%= User.where(id: request.user_request_sender_id).first.f_name %></h3>
<% end %>

<h1>*Requests sent and still pending</h1>
<% @requests_pending.each do |request| %>
  <h3><%= User.where(id: request.user_request_receiver_id).first.f_name %> --> still pending..</h3>
<% end %>


