- if current_user?
  Signed in as
  = current_user.f_name
  = link_to 'Sign out', logout_path
- else
  = form_for :login, url: login_create_path do |f|
    = f.label :email
    = f.text_field :email
    = f.label :password
    = f.password_field :password
    = f.submit 'Sign in'
    or
    = link_to 'Sign up', new_user_path
