%h1 New Community
= form_for :community, url: communities_path do |f|

  = f.label :comName, 'Name'
  = f.text_field :comName
  %br/

  = f.label :description
  = f.text_area :description
  %br/

  = f.submit 'Create Community'
